
@font-face {
    font-family: cursiveFont;
    src: url(./fonts/BelleAllure-20-06-20/BelleAllureGS-Gros.otf);
  }

#tableContainer , #tableContainerDifficile, #tableContainerMoyen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bg {
    background-image: url("./images/bg.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -55;
}

.exo-choose {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exo-choose img {
    margin: 20px 20px;
    border-radius: 50px;
    transition: transform .2s; /* Animation */
}
.exo-choose img:hover {
    box-shadow: 0px 13px 32px 3px rgba(0,0,0,0.1),-5px 10px 15px -3px rgba(0,0,0,0.1);
    transform: scale(0.9);
}
table tr td {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

ul li {
    list-style: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}

ul { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.accueil-btn img {
    position: absolute;
    top: 15px;
    left: 15px;
}

.exo-content {
    display: flex;
    align-items: center;
}

.exo-content img {
    margin-right: 10px;
    width: 150px;
}

.letter-drag  {
    padding: 15px 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-style: solid;
    border-color: rgba(83, 43, 156, 0.219);
    border-width: 2px;
}

.blank-cell-script {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}

#paginationContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}


#paginationContainer button {
    padding: 10px 15px;
    border-radius: 25%;
    border: 1px solid black;
    margin: 10px;
}

.cl-red {
    background-color: red;
}

.cl-green {
    background-color: green;
}

.facile {
    color: red;
}
.difficile {
    color: blue;
}

._blank_difficile {
    font-family: cursiveFont, Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    font-size: 50px;
}

._blank_facile {
    text-transform: uppercase;
}

@media only screen and (max-width: 1650px) {
    .exo-choose {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .exo-choose img {
        margin: 10px 10px;
        width: 90%;
        border-radius: 50px;
    }
    .exo-choose img:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
}

.title-exo-choose {
    text-align: center;
    font-family: cursiveFont;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}